<section class="hero">
  <div class="hero-container">
    <h1 class="hero-title">
      fresh harvest box<br />is your one-stop place for a delicious fruit basket
    </h1>
    <div class="img-wrap">
      <div class="inner">
        <img
          src="../img/hero/hero-mobile@1x.jpg"
          alt="girl holding an orange"
          width="311"
          height="470"
        />
      </div>
      <button class="hero-btn" type="button">shop now</button>
    </div>

    <p class="hero-text">
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </p>

    <div class="fruit-element watermelon">
      <h2>Fruit</h2>
      <img
        src="../images/hero/watermelon-mobile@2x.png"
        alt=""
        width="200"
        height="172"
      />
      <p class="element-text">
        Refreshing and juicy, watermelon is the perfect summer treat and a great
        source of hydration
      </p>
    </div>

    <div class="">
      <ul>
        <li class="list"><h3>&#35;organic</h3></li>
        <li class="list"><h3>&#35;products</h3></li>
        <li class="list"><h3>&#35;basket</h3></li>
        <li class="list"><h3>&#35;fruits</h3></li>
      </ul>
    </div>

    <div class="fruit-element strawberry">
      <h2>Fruit</h2>
      <img
        src="../images/hero/basket-straw-mobile@2x.png"
        alt=""
        width="162"
        height="185"
      />
      <p class="element-text">
        Sweet and juicy, strawberries are packed with vitamin C and
        antioxidants, making them a delicious and healthy snack
      </p>
    </div>
  </div>
</section>
