<div class="thanks">
  <button class="thanks-btn">
    <svg class="thanks-x" width="28px" height="28px">
      <use href="../img/icons.svg#icon-x-mobile"></use>
    </svg>
  </button>
  <img
    class="thanks-img"
    src="../img/modal-thx/rasp_mob@1x.png"
    alt="raspberry"
  />
  <h2 class="tahnks-head">THANK YOU</h2>
  <p class="thanks-text">
    Thank you for your order! Our team is preparing your box with fresh,
    delicious fruits and vegetables, and we'll deliver it straight to your
    doorstep. We appreciate your business and look forward to providing you with
    the best possible experience!
  </p>
</div>
