<section class="section-works">
    <div class="container">
        <h2 class="works-title">To order your fruit basket, simply follow these easy steps</h2>
        <p class="works-text"> Our baskets are assembled with care and delivered straight to your doorstep,
            so you can enjoy the taste of fresh fruit without ever leaving your home.
            Whether you're looking for a healthy snack or a thoughtful gift, our fruit
            baskets are the perfect choice.</p>
        <ul class="works-list">
            <li class="first_card">
                <p class="first-card-text-title">First Step</p>
                <p class="first-card-text">Just choose the fruit you want to order by clicking on the checkboxes next to
                    it.</p>
            </li>
            <li class="first_card">
                <p class="Second-card-text-title">Second Step</p>
                <p class="first-card-text">Click on the basket and fill out the form.</p>
            </li>
            <li class="first_card">
                <p class="third-card-text-title">Third Step</p>
                <p class="first-card-text">Sit back and relax! Your fresh fruit basket will be delivered. </p>
            </li>

        </ul>
        <div class="gif_">
            <img src="../img/works/Fresh Harvest Box.gif" alt="watch" class="gif" />
        </div>
    </div>
</section>
