/* no empty */
.hero_title_works {
    max-width: 1440px;
    max-height: 600px;
    margin: 0 auto;
    padding: 188px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container_works{
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
}
.fon_text {
    font-weight: 700;
    width: 750px;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.text_o {
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width:515px;
    height: 54px;
    text-align: center;
    align-items: center;
    letter-spacing: -0.04em;
}
